.App {
  text-align: center;
}

.Footer {
  height: 150px;
  padding: 20px;
}

.Footer > .item {
  margin: 10px;
}

.button {
  height: 40px;
  width: 100px;
  border: 1px solid #0691b7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.12),
              inset 0 -1px 0 rgba(0,0,0,0.08);
  background: #08b5e5;
  color: #fff;
  text-decoration: none;
}