.Top {
  border-top: 1px solid #dedfe0;
  border-bottom: 1px solid #dedfe0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background: #f4f4f5;
}

.Body {
  font-size: large;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.title {
  font-size: 1.5em;
}

.img {
  height: 80px;
}

.CodeSample {
  border: 1px solid #dedfe0;
  margin: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  background: #f4f4f5;
  display: inline-block;
}

.Testing {
  margin: 20px;
}

.Testing .Input {
  margin: 20px;
  display: inline-flex;
}

.URL {
  margin-left: 15px;
  width: 300px;
}